@charset "UTF-8";
html,body{
  width: 100%;
  margin: 0;
  padding: 0;
}
#videoContainer {
  width: 100%;
  background-color: black;
  /* 滑动块样式 */
}
#videoContainer video {
  width: 100%;
  height: 800px;
}
#videoContainer .preview-component-layer {
  padding: 0 !important;
}
#videoContainer .preview-component-tip {
  background: rgba(0, 0, 0, 0.6) !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  padding: 6px 16px;
  bottom: 58px !important;
}
#videoContainer .preview-component-tip a {
  color: #f4b400;
}
#videoContainer .preview-component-tip .btn {
  display: inline-block !important;
  margin-left: 4px;
  margin-right: 4px;
  width: 80px !important;
  height: 32px !important;
  line-height: 32px !important;
  background-color: #4285f4 !important;
  border-radius: 6px !important;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
  cursor: pointer;
}
#videoContainer .preview-component-tip .preview-vod-close {
  position: relative !important;
  right: -5px !important;
}
#videoContainer .prism-big-play-btn {
  left: 50% !important;
  bottom: 50% !important;
  transform: translate(-50%, 50%);
}
#videoContainer .prism-controlbar,
#videoContainer .prism-controlbar-bg {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 18.75%, rgba(0, 0, 0, 0) 100%);
}
#videoContainer .quality-list {
  bottom: 60px !important;
  left: -40px;
}
#videoContainer .quality-list li {
  width: 200px !important;
  line-height: 80px !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  font-size: 30px;
  color: #fefefe;
  border: none !important;
}
#videoContainer .quality-components .current-quality{
  width: 120px!important;
}

#videoContainer .quality-list li.current {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEESURBVHgB7ZfdDcIwDIQtJukmMAIbwCawAWzQUTpKR+gEibElV4oQvyFKcsifFKUPleq7KPaVyHEcx/lXYoyzrlfvbKhTmPko20CISPGDuS+PfCA0QghXLV7WRGiY+2zuD4SGFD1q8XIKI6Ehxe/M/QXS/eTinggNbZvm/kyIoLfNM6z71jYXc39LaKC3TfihNVnxF0IjbZvoQwuvbVYbWusfUckjrpr11w+VFFE166dulRDRpG2WFNFsaJUQ0Tzr/yqii6yfK6KrrJ8joruh9Y2IbrP+JyK6z/rvRDBC1n8mosnQyuWBiH1ycTGy/p0ILhU/qqLFquMa1HSHKt5xHMeB5AazGHtShFmxPAAAAABJRU5ErkJggg==") no-repeat !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #fefefe !important;
  background-size: 48px 48px !important;
  background-position: 4px 50% !important;
}
#videoContainer .prism-controlbar {
  height: 80px;
}
#videoContainer .prism-progress {
  bottom: 80px !important;
  height: 3px;
}
#videoContainer .prism-progress .prism-progress-played {
  background-color: #fff !important;
}
#videoContainer .prism-progress .prism-progress-loaded {
  background: rgba(255, 255, 255, 0.2) !important;
}
#videoContainer .prism-volume-control {
  display: none !important;
}
#videoContainer .prism-play-btn {
  width: 50px;
  height: 50px;
  background-size: 100% 100% !important;
}
#videoContainer .prism-fullscreen-btn {
  width: 50px;
  height: 50px;
  margin-right: 40px !important;
  background-size: 100% 100% !important;
}
#videoContainer .volume-icon {
  background-size: 100% 100% !important;
}
#videoContainer .volume-icon .short-horizontal,
#videoContainer .volume-icon .long-horizontal {
  display: none !important;
}
#videoContainer .prism-time-display {
  font-size: 24px;
  margin-top: 20px !important;
}
#videoContainer .prism-time-display .current-time {
  color: #fefefe;
}
#videoContainer .prism-volume {
  display: flex;
  align-items: center;
  margin-top: 15px!important;
}
#videoContainer .prism-volume .volume-icon{
  width: 50px;
  height: 50px;
}
#videoContainer .volume-range {
  display: block;
  float: left;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  margin-left: 15px;
  margin-top: 0px;
  outline: 0;
  background-color: transparent;
  width: 200px;
  border-radius: 10px;
}
#videoContainer .volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid transparent;
  margin-top: -12px;
  border-image: linear-gradient(#fff, #fff) 0 fill/14 30 14 0/0px 0px 0 2000px;
}
#videoContainer .volume-range::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.33);
}
#videoContainer input[type=range i]::-webkit-slider-container {
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
}

#videoContainer .quality-components {
  margin-top: 20px;
  font-size: 30px!important;
  margin-right: 10px;
}
#videoContainer .prism-progress-played {
  background-color: #4285f4;
}
#videoContainer .circle {
  border-color: rgba(255, 255, 255, 0) white white rgba(255, 255, 255, 0);
}
#videoContainer .vip-join {
  color: #00c1de;
}
#videoContainer .vip_limit_content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#videoContainer .vip_limit_content .title {
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  width: 100%;
}
#videoContainer .vip_limit_button_box {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
#videoContainer .vip_limit_btn {
  display: inline-block;
  min-width: 100px;
  position: relative;
  background: #f60;
  padding: 0 35px;
  margin: 0px 5px 20px 5px;
  border-radius: 38px;
  font-size: 18px;
  line-height: 38px;
  color: #623a0c;
  text-align: center;
  background-image: linear-gradient(-135deg, #fbe8a8 0%, #f8e7ac 15%, #e2c078 100%);
  cursor: pointer;
}
#videoContainer .memory-play-wrap{
  font-size: 30px!important;
  bottom: 100px!important;
}
#videoContainer .memory-play-wrap .memory-play{
  font-size: 30px!important;
}
#videoContainer .memory-play-wrap .memory-play .icon-close{
  font-size: 30px!important;
}
.prism-tooltip,.prism-info-display{
  bottom: 100px!important;
  font-size: 30px!important;
}
#videoContainer .play-jump {
  color: #4285f4 !important;
}
#videoContainer .vip_limit_close {
  text-align: center;
  position: absolute;
  bottom: 28px;
  left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#videoContainer .vip_limit_close img {
  width: 18px !important;
  margin-bottom: 0;
  margin-right: 10px;
}
#videoContainer .prism-info-display span {
  color: #4285f4 !important;
}
#videoContainer .vip_limit_close span {
  font-size: 18px;
  display: inline;
  height: unset;
  line-height: unset;
  background: transparent;
  cursor: pointer;
}

